* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DFF6FF;
    font-family: 'Nunito', sans-serif;
}


a {
    text-decoration: none;
}

header {
    background-color: #5D8BF4;
    color: #DFF6FF;
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding: 0px 50px;
    
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    color: #DFF6FF;
}

.nav-links a:hover {
    color: hsl(83, 95%, 58%)  ;
}

#banner{
    background-image:url('../images/Fondo.png') ;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: auto;
    box-shadow: inset 0 0 0 2000px rgba(39, 39, 39, 0.623);
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.card-banner{
    margin: 0 auto;
    text-align: center;
    padding: 0px 160px;
}
.card-banner h1{
    color: #DFF6FF;
    font-size: 4vw;
    
}
.card-banner h2{
    margin-bottom: 20px;
    color: #DFF6FF;
    font-size: 3vw;
}

.card-banner section{
    font-size: 1vw;
    color: #DFF6FF;
}
.card-banner p{
    margin-bottom: 20px;
    color: #DFF6FF;
}

#noticias {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.busqueda-noticias{

    font-size: 3vw;
}

#contrat{
    text-align: center;
}

#contrat h2{
    margin: 30px 0px;
}
.contrat-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    row-gap: 50px;
}

.contrat-grid:hover .contrat-item{
    opacity: 0.3;
}
.contrat-grid:hover .contrat-item:hover{
    transform: scale(1.2);
    
    transform-origin:  center center;
    opacity: 1;
    transition: 500ms all;
}

.contrat-item{
    border-radius: 20px;
    overflow: hidden;
    width: 200px;
    height: 300px;
    font-size: 20px;
    cursor: pointer;
}

.contrat-item-img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.contrat-item-detalle{
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    padding: 10px;
}
.contrat-item:hover .contrat-item-detalle{
    opacity: 1;
    transition: 500ms opacity;
}

.contrat-item-detalle-titulo{
    color: #DFF6FF;
    margin: 5px 0px 0px 0px;
}

.contrat-item-detalle-subtitulo{
    color: #DFF6FF;
    font-size: 8px;
    margin: 3px 0px;
}

@media  (max-with:1920px) {
    
}

@media (max-with:1280px) {
    
}

@media  (max-with:800px) {
    #banner{
        height: 400px;
    }
    .contrat-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}

@media (max-with:480px) {
    #banner{
        height: 200px;
    }
    .contrat-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    }
}
/*main{
    border: 5px #2D31FA solid;
    
} 


footer{
    border: 5px  #DFF6FF solid;
    
} 


section{
    border: 5px #5D8BF4 solid;
    
}
*/